# Virtual Environments
Myenv/
env/
venv/
local/  # add local environment folder if you name it 'local'
.env

# Python Cache
__pycache__/
*.pyc

# IDE Settings
.vscode/
.idea/

# System
.DS_Store
Thumbs.db

# Git
.git/
